@charset "UTF-8";

/* 가운데 정렬 */
.login_container{ 
    margin: 0 auto;
    width: 50%;
    height: 100%;
}

.div_login_main{
    margin-top: 20px;
    padding: 10px;
}

/* 아이디 테두리 */
.div_login_input_id{
    border: 2px solid grey;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    width: 500px;
}
/* 비밀번호 테두리 */
.div_login_input_pw{
    border-left: 2px solid grey;
    border-right: 2px solid grey;
    border-bottom: 2px solid grey;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    width: 500px;
}

/* 아이디 입력창 */
.login_input_id{
    box-sizing: border-box;
    margin: 5px;
    width: 90%;
    font-size: 16px;
    line-height: 22px;
}

/* 비밀번호 입력창 */
.login_input_pw{
    box-sizing: border-box;
    margin: 5px;
    width: 90%;
    font-size: 16px;
    line-height: 22px;
}