<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="festival_mapper">

<insert id="saveFestival" parameterType="Festival">
  insert into festival (festival_id, festival_name, location, start_date, end_date, entrance_fee, tel, festival_host)
  values (festival_id_seq.nextval, 
		  #{festival_name}, 
		  #{location}, 
		  #{start_date}, 
		  #{end_date}, 
		  #{entrance_fee}, 
		  #{tel}, 
		  #{festival_host})
</insert>

</mapper>
