<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="post_mapper">


	<insert id="savePost" parameterType="Post">
		<selectKey keyProperty="postId" resultType="int"
			order="BEFORE">
			SELECT post_id_seq.NEXTVAL FROM DUAL
		</selectKey>

		INSERT INTO posts (
		post_id, title, content, user_id, created_at,
		post_like, post_views, status,
		report,nick_name
		) VALUES (
		#{postId}, #{title},
		#{content}, #{userId}, #{createdAt}, #{postLike},
		#{postViews},
		#{status}, #{report}, #{nickName}
		)
	</insert>

	<insert id="saveReviewImage" parameterType="ReviewImages">
		INSERT INTO posts_images (
		image_id, post_id, file_name, original_file_name, file_path, url_file_path,
		file_extension, uploaded_at
		) VALUES (
		posts_images_id_seq.NEXTVAL, #{postId}, #{fileName}, #{originalFileName}, #{filePath}, NULL,
		#{fileExtension}, #{uploadedAt}
		)
	</insert>
	
	<select id="findReviewImages" resultType="ReviewImages">
		select * from posts_images
	</select>

	<select id="findPostList" resultType="Post">
		select * from posts
	</select>

	<select id="findPostByUserId" parameterType="String" resultType="Post">
		select *
		FROM posts
		WHERE user_id = #{userId}
	</select>

	<select id="findPostByPostId" parameterType="int"
		resultType="Post">
		SELECT * FROM posts WHERE post_id = #{postId}
	</select>

	<update id="increasePostViews" parameterType="int">
		UPDATE posts
		SET
		post_views = post_views + 1
		WHERE post_id = #{postId}
	</update>




</mapper>






