<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="post_mapper">


	<insert id="savePost" parameterType="Post">
		INSERT INTO posts (post_id,
		title, content, user_id, nick_name)
		VALUES (post_id_seq.NEXTVAL, #{title}, #{content}, #{userId}, #{nickName})
	</insert>

	<select id="getLastPostId" resultType="int">
		SELECT post_id_seq.CURRVAL FROM DUAL
	</select>

	<insert id="saveReviewImage" parameterType="ReviewImages">
		INSERT INTO
		posts_images (
		image_id, post_id, file_name, original_file_name,
		file_path, url_file_path,
		file_extension, uploaded_at
		) VALUES (
		posts_images_id_seq.NEXTVAL, #{postId}, #{fileName},
		#{originalFileName}, #{filePath}, #{urlFilePath},
		#{fileExtension},
		#{uploadedAt}
		)
	</insert>

	<select id="findReviewImages" resultType="ReviewImages">
		select * from
		posts_images
	</select>

	<select id="findReviewImagesByPostId" parameterType="int"
		resultType="ReviewImages">
		select * from posts_images where post_id = #{postId}
	</select>

	<select id="findPostList" resultType="Post">
		select * from posts
	</select>

	<select id="findPostByUserId" parameterType="String"
		resultType="Post">
		select *
		FROM posts
		WHERE user_id = #{userId}
	</select>

	<select id="findPostByPostId" parameterType="int"
		resultType="Post">
		SELECT * FROM posts WHERE post_id = #{postId}
	</select>

	<update id="increasePostViews" parameterType="int">
		UPDATE posts
		SET
		post_views = post_views + 1
		WHERE post_id = #{postId}
	</update>

	<select id="NotifyPostList" resultType="Post">
		select *
		from
		posts
		WHERE report > 0
		ORDER BY report DESC
	</select>

	<delete id="removePosts">
		DELETE FROM posts WHERE post_id IN
		<foreach item="item" collection="postIds" open="("
			separator="," close=")">
			#{item}
		</foreach>
	</delete>


</mapper>






