@charset "UTF-8";

.festival-detail body {
	font-family: 'Noto Sans KR', sans-serif;
	margin: 0;
	padding: 0;
	background-color: #f9f9f9;
	color: #333;	
}

.festival-detail header {
	text-align: center;
	padding: 20px;
	background-color: #fff;
	border-bottom: 2px solid #eee;
}

.festival-detail h1 {
	font-size: 28px;
	font-weight: bold;
}

.badge {
	display: inline-block;
	padding: 8px 12px;
	background-color: #d81b60;
	color: white;
	border-radius: 20px;
	font-size: 14px;
	margin-top: 10px;
}

.poster-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
	max-width: 1200px;
	margin: 0 auto;
	gap: 30px;
	height:550px;
}

.poster {
	width: 450px;
	height: 600px;
	text-align: center;
	margin: 20px 0;
}

.poster img {
	width: 80%;
	height: 75%;
	border-radius: 10px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.festival-info {
	padding: 20px;
	width: 450px;
}

.festival-info p {
	text-align: left;
	margin: 15px 0;
	font-size: 20px;
	line-height: 2.0;
	color: #333;
	word-break: keep-all;
}

.festival-content {	
	width: 850px;
    background-color: #f9f9f9; /* 부드러운 배경색 */
    border: 2px solid #e0e0e0; /* 테두리 추가 */
    border-radius: 10px; /* 둥근 테두리 */
    padding: 20px;
    margin: 0 auto;    
}
.content-text{
	font-size: 16px;
    line-height: 1.6;
    color: #333; /* 글자 색 */
}
.festival-content p {
    margin: 10px 0;
    font-weight: 500;
    
}

.festival-content strong {
    color: #2c7be5; /* 강조 색상 */
}

.homepage-btn {
	display: inline-block;
	margin-top: 20px;
	padding: 12px 24px;
	background-color: #007bff;
	color: white;
	border: none;
	border-radius: 5px;
	text-decoration: none;
	font-size: 16px;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

.homepage-btn:hover {
	background-color: #0056b3;
}

.homepage-btn i {
	margin-right: 8px;
}

.back-btn {
		display: block;
		width: 200px;
		text-align: center;
		padding: 10px;
		margin: 20px auto;
		background-color: #007BFF;
		color: white;
		border-radius: 5px;
		text-decoration: none;
		font-size: 16px;
	}
	
.back-btn:hover {
	background-color: #0056b3;
}
@media ( max-width : 768px) {
	.poster-container {
		padding: 0 15px;
	}
	.poster {
		width: 100%;
		height: auto;
		margin: 10px 0;
	}
	.poster img {
		width: 100%;
		height: auto;
	}
	.festival-info {
		width: 100%;
		padding: 10px;
	}
	.restaurants {
		background: white;
		padding: 20px;
		margin: 20px;
		border-radius: 10px;
		box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	}
	
	.back-btn {
		display: block;
		width: 200px;
		text-align: center;
		padding: 10px;
		margin: 20px auto;
		background-color: #007BFF;
		color: white;
		border-radius: 5px;
		text-decoration: none;
		font-size: 16px;
	}
	.back-btn:hover {
		background-color: #0056b3;
	}
}