@charset "UTF-8";

.festival-main body {
    font-family: 'Noto Sans KR', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
}

.festival-container {	
	max-width: 1200px;
	margin: auto;	
}

.search-box {
	display: flex;
	justify-content: flex-end;
	margin-bottom: 20px;
}

.search_btn {
	padding: 10px;
	font-size: 16px;
	margin-right: 100px;
	border-radius: 6px;
}
.select_box {
	width: 200px;
	padding-left: 20px;	
	font-size: 16px;
	margin-right:20px;
	border-radius: 6px;
}

.festival-list {
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
	flex-direction: row;
	justify-content: center;
}

.festival-card {
	position: relative;
    width: calc(33% - 80px);
    background: white;
    border-radius: 12px;
    overflow: visible;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.festival-card:hover {
	transform: none;
}

.like-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 20px;
    color: #FF4081;
    cursor: pointer;
    z-index: 2;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
}

.like-button:hover i {
    transform: scale(1.1);
}

.like-button i.far.fa-heart {
    color: #ddd !important;
    font-size: 20px;
    transition: all 0.2s ease;
}

.like-button.active i.fas.fa-heart {
    color: #FF4081 !important;
}

.popularity {
    font-size: 14px;
    color: #555;
}

.image-container{
	position: relative;
    width: 100%;
    height: 200px;
}
.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.festival-content {
	padding: 15px;
	z-index: 2;
}

.festival-content h3 {
	margin: 5px 0;
	font-size: 18px;	
}

.festival-content .date, .location, .fee{
	font-size: 14px;
	color: #666;
	padding: 5px;
}
.festival-sort {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-bottom: 20px;
    margin-right: 100px;    
}

.festival-sort span {
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    background: #eee;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
}

.festival-sort span.active {
    background: #7a45e5;
    color: white;
}