@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.headerContainer {
	width: 100%;
	height: 90px;
	background-color: lightblue;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 30px;
	position: fixed;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	z-index: 300;
	top:0;
	left:0;
}

/* 로고 */
.headerLogo {
	font-size: 24px;
	font-weight: bold;
	color: #333333;
	display: flex;
	align-items: center;
	cursor: pointer;
}
.headerLogo img {
	width: 60px;
	height: 60px;
	border-radius: 50%;
	margin-right: 7px;
}

/* 메뉴 스타일 */
.headerMenu {
	display: flex;
	gap: 50px;
	position: relative;
}

.headerMenu>div {
	cursor: pointer;
	font-size: 16px;
	font-weight: bold;
	color: #333;
	padding: 10px 15px;
	position: relative;
}

/* 드롭다운 전체 박스 */
.dropdownMenu {
	display: none;
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	background: #ffffff;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	padding: 15px 0 15px 190px;
	z-index: 10;
	border-radius: 5px;
	display: flex;
	justify-content: center;
	z-index: 300;
	background-color : rgb(255,255,255); opacity : 0.9;
}

/* 드롭다운 내부 항목 */
.dropdownMenu div {
	min-width: 120px;
	text-align: center;
	font-size: 14px;
	font-weight: bold;
	color: #333;
	padding: 10px 0;
	cursor: pointer;
	align-content: center;
}

.dropdownMenu div:hover {
	color: green;
	border-radius: 5px;
}

/* 오른쪽 메뉴 */
.headerRightMenu {
	display: flex;
	gap: 15px;
	align-items: center;
}

.headerRightMenu div {
	cursor: pointer;
	font-size: 14px;
}